coco_eval.py
coco_utils.py
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch0.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch2.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch3.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch4.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch1.pth
Crater_noaug_sgd_2batch-lastepoch49.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch40.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch21.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch20.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch9.pth
Crater_bestmodel_noaug_sgd(wd=0)_8batch-epoch5.pth
__pycache__/coco_eval.cpython-310.pyc
__pycache__/coco_utils.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/transforms.cpython-310.pyc
__pycache__/engine.cpython-310.pyc
utils.py
transforms.py
sample.jpg
engine.py
